@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-background);
    color: var(--cor-branca);
    font-family: 'Noto Sans', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

:root {
    --cor-branca: rgb(203 213 225);
    --verde-claro: rgb(16 185 129);
    --cor-background: rgb(100 116 139);
    --cinza-escuro: rgb(51 65 85);
}