.question-situation {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
    border-radius: 8px;
}

.question-error {
    border: solid 2px lightcoral;
}

.question-rigth {
    border: solid 2px lightgreen;
}

.page-finally {
    margin: 0 0 130px 0;
    position: relative;
}

.responses-question-user {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 390px;
    overflow: auto;
    padding-right: 5px;
}

.question-situation {
    width: 100%;
}

.responses-question-user::-webkit-scrollbar {
    width: 10px;
}

.responses-question-user::-webkit-scrollbar-thumb {
    border-radius: 45px;
    background-color: lightblue;
}

.responses-question-user::-webkit-scrollbar-track {
    background-color: var(--cor-branca);
}

.body-section-center .question-and-options i {
    font-size: 21px;
}

.icon-check {
    color: lightgreen;
}

.icon-error {
    color: lightcoral;
}

.question-and-options .buttons-finnaly-page {
    width: 100%;
    bottom: -90px;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.question-and-options .btn-remake,
.question-and-options .btn-template {
    position: relative;
    cursor: pointer;
}

.question-and-options .number-hits {
    margin: 30px 0;
}

.question-and-options .number-hits p {
    font-size: 18px;
    letter-spacing: 2px;
}

.template {
    display: grid;
    background-color: rgb(71 85 105);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%);
    padding: 35px;
    border-radius: 5px;
    width: 40%;
    z-index: 2;
    grid-template-areas: 
    "header header";
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}

.template h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
    grid-area: header;
}

.template .icon-exit{
    color: rgb(153 27 27);
    position: absolute;
    top: 28px;
    left: 28px;
    cursor: pointer;
    font-size: 22px;
}

.screen-disable {
    display: none;
}

.template .template-response {
    border: solid 2px var(--verde-claro);
    padding: 8px;
    border-radius: 5px;
}

.template .template-response p {
    font-size: 18px;
}

@media (max-width: 900px) {
    .template {
        width: 70%;
    }
}

@media (max-width: 580px) {
    .question-and-options .number-hits p {
        text-align: center;
    }

    .template {
        width: 80%;
    }

    .template {
        width: 80%;
        grid-template-areas: "header";
        grid-template-columns: 2fr;
    }
}

@media (max-width: 490px) {
    .question-and-options .buttons-finnaly-page {
        flex-direction: column;
        gap: 15px;
        bottom: -140px;
    }

    .page-finally {
        margin-bottom: 160px;
    }
}