.question-situation {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: 99%;
    border-radius: 8px;
}

.question-error {
    border: solid 2px lightcoral;
}

.question-rigth {
    border: solid 2px lightgreen;
}

.page-finally {
    margin: 0 0 130px 0;
    position: relative;
}

.responses-question-user {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 390px;
    overflow: auto;
}

.question-situation {
    width: 100%;
}

.responses-question-user::-webkit-scrollbar {
    width: 10px;
}

.responses-question-user::-webkit-scrollbar-thumb {
    border-radius: 45px;
    background-color: lightblue;
}

.responses-question-user::-webkit-scrollbar-track {
    background-color: white;
}

.body-section-center .question-and-options i {
    font-size: 21px;
}

.icon-check {
    color: lightgreen;
}

.icon-error {
    color: lightcoral;
}

.btn-remake {
    bottom: -90px;
    right: 0;
    cursor: pointer;
}

.btn-template {
    bottom: -90px;
    left: 0;  
    cursor: pointer;   
}

.mode-actived {
    opacity: 1;
    cursor: pointer;
}